@import "tailwindcss";

.marquee {
  position: absolute;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: marquee 15s linear infinite;
}

.marquee-track h1 {
  font-size: 14vw;
  font-weight: 500;

  color: rgb(255, 255, 255);
  padding-right: 5rem;
  flex-shrink: 0;
}

@media (max-width: 1024px) {
  .hero-image {
    left: 55%;
  }

  .marquee-track {
    animation-duration: 10s;
  }

  .marquee-track h1 {
    font-size: 18vw;
    padding-right: 4rem;
  }
}

@media (max-width: 640px) {
  .hero-image {
    left: 56%;
  }

  .marquee-track h1 {
    font-size: 35vw;
    padding-right: 3rem;
  }
}

html,
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Old Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
